.navLinks {
  list-style: none;
  padding-left: 4px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0.5rem 0.28rem 0.5rem;
}

.menuLeft {
  background-color: rgb(26, 196, 248);
  color: white;
  text-decoration: none;
  padding: 5px 12px 6px 12px;
  margin: 0.7px;
}
.menuLeft:hover {
  background-color: rgb(17, 169, 216);
  padding-bottom: 6px;
}

.menuRight {
  background-color: rgb(94, 190, 56);
  color: white;
  text-decoration: none;
  padding: 5px 12px 6px 12px;
  margin: 0.7px;
}

.menuRight:hover {
  background-color: rgb(70, 177, 28);
  padding-bottom: 6px;
}

.menuLeft:first-child {
  border-radius: 5px 0px 0px 0px;
}

.menuRight:first-child {
  border-radius: 5px 0px 0px 0px;
}

.menuLeft:last-child {
  border-radius: 0px 5px 0px 0px;
}

.menuRight:last-child {
  border-radius: 0px 5px 0px 0px;
}
